In [1]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd

In [37]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d05_text_meta_2012_03_07.txt'
meta_data1 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data1

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,500010092,1,S,5,53,48872.0,77.632,328.101,36.593416,-121.876677,2.696,ML,2,SLOAT AVE HWY 1 SB VDS MLSB SB,NaN,NaN,NaN,NaN
1,500010093,1,N,5,53,48872.0,77.633,328.168,36.593216,-121.876628,2.695,ML,2,SLOAT AVE HWY 1 SB VDS MLNB NB,NaN,NaN,NaN,NaN
2,500010101,1,N,5,53,48872.0,78.023,328.558,36.594593,-121.869761,0.457,ML,2,SOUTH OF HWY 68 EAST AT HWY 1 NB,NaN,NaN,NaN,NaN
3,500010102,1,S,5,53,48872.0,78.024,328.493,36.594697,-121.869852,0.457,ML,2,SOUTH OF HWY 68 EAST AT HWY 1 NB,NaN,NaN,NaN,NaN
4,500010121,1,S,5,53,48872.0,78.546,329.015,36.600103,-121.863630,0.497,ML,2,CASA VERDE WAY HWY 1 SB VDS MLSB,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,501017043,101,N,5,79,68154.0,29.652,203.196,35.291784,-120.655535,0.437,ML,2,GRAND AVE IN SLO AT 101 SB VDS M,NaN,NaN,NaN,NaN
149,501017051,101,N,5,79,68154.0,30.024,203.568,35.291755,-120.648986,0.651,ML,2,MONTEREY ST 101 NB VDS MLNB NB,NaN,NaN,NaN,NaN
150,501017052,101,S,5,79,68154.0,30.025,203.542,35.291923,-120.648894,0.652,ML,2,MONTEREY ST 101 NB VDS MLSB SB,NaN,NaN,NaN,NaN
151,501017061,101,N,5,79,NaN,30.953,204.497,35.295370,-120.633652,2.964,ML,2,FOX HOLLOW RD 101 NB VDS MLNB NB,NaN,NaN,NaN,NaN
152,501017062,101,S,5,79,NaN,30.954,204.471,35.295494,-120.633606,2.964,ML,2,FOX HOLLOW RD 101 NB VDS MLSB SB,NaN,NaN,NaN,NaN

In [38]:
meta_data1.ID.unique()
print('ID number: ',len(meta_data1.ID.unique()))

ID number:  153

In [39]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d05_text_meta_2012_03_07.txt'
meta_data2 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data2.ID.unique()
print('ID number 2: ',len(meta_data2.ID.unique()))
meta_data2

ID number 2:  153

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,500010092,1,S,5,53,48872.0,77.632,328.101,36.593416,-121.876677,2.696,ML,2,SLOAT AVE HWY 1 SB VDS MLSB SB,NaN,NaN,NaN,NaN
1,500010093,1,N,5,53,48872.0,77.633,328.168,36.593216,-121.876628,2.695,ML,2,SLOAT AVE HWY 1 SB VDS MLNB NB,NaN,NaN,NaN,NaN
2,500010101,1,N,5,53,48872.0,78.023,328.558,36.594593,-121.869761,0.457,ML,2,SOUTH OF HWY 68 EAST AT HWY 1 NB,NaN,NaN,NaN,NaN
3,500010102,1,S,5,53,48872.0,78.024,328.493,36.594697,-121.869852,0.457,ML,2,SOUTH OF HWY 68 EAST AT HWY 1 NB,NaN,NaN,NaN,NaN
4,500010121,1,S,5,53,48872.0,78.546,329.015,36.600103,-121.863630,0.497,ML,2,CASA VERDE WAY HWY 1 SB VDS MLSB,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,501017043,101,N,5,79,68154.0,29.652,203.196,35.291784,-120.655535,0.437,ML,2,GRAND AVE IN SLO AT 101 SB VDS M,NaN,NaN,NaN,NaN
149,501017051,101,N,5,79,68154.0,30.024,203.568,35.291755,-120.648986,0.651,ML,2,MONTEREY ST 101 NB VDS MLNB NB,NaN,NaN,NaN,NaN
150,501017052,101,S,5,79,68154.0,30.025,203.542,35.291923,-120.648894,0.652,ML,2,MONTEREY ST 101 NB VDS MLSB SB,NaN,NaN,NaN,NaN
151,501017061,101,N,5,79,NaN,30.953,204.497,35.295370,-120.633652,2.964,ML,2,FOX HOLLOW RD 101 NB VDS MLNB NB,NaN,NaN,NaN,NaN
152,501017062,101,S,5,79,NaN,30.954,204.471,35.295494,-120.633606,2.964,ML,2,FOX HOLLOW RD 101 NB VDS MLSB SB,NaN,NaN,NaN,NaN

In [40]:
meta_data2.ID.unique()

array([500010092, 500010093, 500010101, 500010102, 500010121, 500010122,
       500010132, 500010133, 500010142, 500010143, 500010152, 500010153,
       500011021, 500011022, 500011032, 500011033, 500011042, 500011043,
       500011052, 500011053, 500011062, 500011063, 500011072, 500011073,
       500011092, 500011102, 500011112, 500011113, 500011121, 500011123,
       500011141, 500011143, 500013111, 500013112, 500013131, 500013132,
       500013151, 500013152, 500014021, 500014022, 500014031, 500014032,
       500014041, 500014042, 500014052, 500014053, 500014062, 500014063,
       500014071, 500014072, 500014081, 500014082, 500014091, 500014092,
       500014101, 500014102, 500014111, 500014112, 500014121, 500014122,
       500014132, 500014133, 500014142, 500017011, 500017012, 501010022,
       501010023, 501010031, 501010032, 501010052, 501010053, 501010061,
       501010062, 501010082, 501010083, 501010102, 501010103, 501010112,
       501010113, 501010122, 501010124, 501010131, 501010132, 501010142,
       501010152, 501010153, 501011021, 501011032, 501011041, 501011081,
       501011082, 501011091, 501011092, 501011111, 501011112, 501011121,
       501011122, 501011131, 501011132, 501011141, 501011142, 501011151,
       501011152, 501012021, 501012022, 501012042, 501012043, 501012051,
       501012052, 501012061, 501012062, 501012071, 501012072, 501012081,
       501012082, 501012091, 501012092, 501012101, 501012102, 501012111,
       501012112, 501016031, 501016032, 501016042, 501016043, 501016071,
       501016072, 501016081, 501016082, 501016091, 501016092, 501016101,
       501016102, 501016122, 501016123, 501016131, 501016132, 501016142,
       501016143, 501016152, 501016153, 501017011, 501017012, 501017022,
       501017023, 501017032, 501017033, 501017042, 501017043, 501017051,
       501017052, 501017061, 501017062], dtype=int64)

In [41]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d05_text_meta_2016_05_10.txt'
meta_data3 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data3.ID.unique()
print('ID number 3: ',len(meta_data3.ID.unique()))
meta_data3

ID number 3:  202

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,500010011,1,N,5,53,NaN,72.330,322.865,36.535850,-121.912881,2.713,ML,1,CARMEL RIV BRIDGE HWY 1 NB VDS M,NaN,NaN,NaN,NaN
1,500010012,1,S,5,53,NaN,72.331,322.800,36.535860,-121.912870,2.714,ML,1,CARMEL RIV BRIDGE HWY 1 NB VDS M,NaN,NaN,NaN,NaN
2,500010021,1,N,5,53,NaN,72.757,323.292,36.541075,-121.908778,0.697,ML,1,CARMEL VALLEY RD HWY 1 NB VDS ML,NaN,NaN,NaN,NaN
3,500010022,1,S,5,53,NaN,72.758,323.227,36.541106,-121.908820,0.698,ML,1,CARMEL VALLEY RD HWY 1 NB VDS ML,NaN,NaN,NaN,NaN
4,500010031,1,N,5,53,NaN,73.726,324.261,36.554647,-121.910926,0.831,ML,2,OCEAN AVE HWY 1 NB VDS MLNB NB,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,501560032,156,E,5,69,NaN,1.710,8.079,36.847924,-121.554642,4.179,ML,2,WEST OF MONTEREY ST ON HWY 156 W,NaN,NaN,NaN,NaN
198,501560061,156,W,5,69,NaN,7.564,13.933,36.846036,-121.454392,4.730,ML,1,BUSINESS RTE 156 ON HWY 156 WB V,NaN,NaN,NaN,NaN
199,501560062,156,E,5,69,NaN,7.565,13.934,36.846047,-121.454385,4.729,ML,1,BUSINESS RTE 156 ON HWY 156 WB V,NaN,NaN,NaN,NaN
200,501560081,156,E,5,69,NaN,12.023,18.392,36.904651,-121.424310,4.729,ML,1,NORTH OF RTE 25 ON HWY 156 EB VD,NaN,NaN,NaN,NaN
201,501560082,156,W,5,69,NaN,12.024,18.393,36.904663,-121.424301,4.730,ML,1,NORTH OF RTE 25 ON HWY 156 EB VD,NaN,NaN,NaN,NaN

In [42]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d05_text_meta_2024_01_19.txt'
meta_data4 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data4.ID.unique()
print('ID number 4: ',len(meta_data4.ID.unique()))
meta_data4

ID number 4:  573

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,500010011,1,N,5,53,NaN,72.33,322.865,36.535850,-121.912881,2.713,ML,1,CARMEL RIV BRIDGE HWY 1 NB VDS M,1,NaN,NaN,NaN
1,500010012,1,S,5,53,NaN,72.331,322.800,36.535860,-121.912870,2.714,ML,1,CARMEL RIV BRIDGE HWY 1 NB VDS M,1,NaN,NaN,NaN
2,500010021,1,N,5,53,NaN,72.757,323.292,36.541075,-121.908778,0.697,ML,2,CARMEL VALLEY RD HWY 1 NB VDS ML,1,NaN,NaN,NaN
3,500010022,1,S,5,53,NaN,72.758,323.227,36.541106,-121.908820,0.698,ML,1,CARMEL VALLEY RD HWY 1 NB VDS ML,1,NaN,NaN,NaN
4,500010031,1,N,5,53,NaN,73.726,324.261,36.554647,-121.910926,0.831,ML,2,OCEAN AVE HWY 1 NB VDS MLNB NB,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,506800131,68,E,5,53,NaN,17.257,17.461,36.625285,-121.680718,0.814,ML,2,RESERVATION & RIVER RD HWY 68 EB,1,NaN,NaN,NaN
569,506800132,68,E,5,53,NaN,17.258,17.462,36.625294,-121.680703,0.483,ML,2,RESERVATION & RIVER RD HWY 68 EB,1,NaN,NaN,NaN
570,506800141,68,E,5,53,NaN,18.224,18.428,36.634694,-121.668155,0.483,ML,2,SPRECKELS BLVD HWY 68 EB VDS MLE,1,NaN,NaN,NaN
571,506800142,68,E,5,53,NaN,18.225,18.429,36.634707,-121.668147,2.500,ML,2,SPRECKELS BLVD HWY 68 EB VDS MLW,1,NaN,NaN,NaN
572,506800143,68,E,5,53,NaN,18.226,18.430,36.634719,-121.668140,NaN,FR,1,SPRECKELS BLVD HWY 68 EB VDS OFW,1,NaN,NaN,NaN

In [43]:
import numpy as np

# # 示例数据，实际数据可能会有不同
# arr1 = np.array(range(400000, 401610))
# arr2 = np.array(range(400500, 402000))
# arr3 = np.array(range(400900, 402500))
# arr4 = np.array(range(400000, 402000))

# 计算四个数组的交集
def find_common_elements(arr1, arr2, arr3, arr4):
    common12 = np.intersect1d(arr1, arr2)
    common123 = np.intersect1d(common12, arr3)
    common1234 = np.intersect1d(common123, arr4)
    return common1234

# 调用函数（在最终版本中取消注释）
common_elements = find_common_elements(meta_data4.ID.unique(), meta_data3.ID.unique(), meta_data2.ID.unique(), meta_data1.ID.unique())
print('common number 4: ',len(common_elements))
np.save('pems05_comm.npy',common_elements)
common_elements

common number 4:  103

array([500010092, 500010093, 500010101, 500010102, 500010121, 500010122,
       500010142, 500010143, 500011021, 500011022, 500011032, 500011033,
       500011052, 500011053, 500011062, 500011063, 500011072, 500011073,
       500011092, 500011102, 500011121, 500011123, 500011141, 500011143,
       500014091, 500014092, 500014101, 500014102, 500014111, 500014112,
       500014121, 500014122, 500014132, 500014133, 500017011, 500017012,
       501010022, 501010023, 501010031, 501010032, 501010052, 501010053,
       501010061, 501010062, 501010102, 501010103, 501010112, 501010113,
       501010131, 501010132, 501010152, 501010153, 501011032, 501011041,
       501011091, 501011092, 501011121, 501011122, 501011131, 501011132,
       501011141, 501011142, 501011151, 501012021, 501012022, 501012042,
       501012043, 501012071, 501012072, 501012081, 501012082, 501012101,
       501012102, 501012111, 501012112, 501016071, 501016072, 501016081,
       501016082, 501016091, 501016092, 501016101, 501016102, 501016122,
       501016123, 501016131, 501016132, 501016142, 501016143, 501016152,
       501016153, 501017011, 501017012, 501017022, 501017023, 501017032,
       501017033, 501017042, 501017043, 501017051, 501017052, 501017061,
       501017062], dtype=int64)