In [ ]:
import pandas as pd
pems07 = pd.read_csv('pems07_all_common_flow.csv')
pems07

In [ ]:
data=pems07
zero_proportion = (data == 0).sum() / len(data)

# Filter out columns where the proportion of zeros is greater than 5%
columns_to_keep = zero_proportion[zero_proportion <= 0.10].index
filtered_data = data[columns_to_keep]

# import ace_tools as tools; tools.display_dataframe_to_user(name="Filtered Time Series Data", dataframe=filtered_data)

filtered_data

In [ ]:
filtered_data.to_csv('pems07_all_filter10.csv',index=False)

In [ ]:
df  = pems07.iloc[:1000000,:]
import pandas as pd
unique_cols = {}
duplicates = []
for column in df.columns:
    col_data = df[column]
    col_tuple = tuple(col_data)
    if col_tuple in unique_cols:
        duplicates.append(column)
    else:
        unique_cols[col_tuple] = column
df = df.drop(columns=duplicates)
print(f"delete {len(duplicates)} columns, keep le: {df.shape[1]}")

In [ ]:
df  = pems07.iloc[:100000,:]
import pandas as pd

# 假设df是你的DataFrame
# 创建一个空的字典来存储非重复的列
unique_cols = {}
duplicates = []

for column in df.columns:
    col_data = df[column]
    # 将列数据转换为元组形式，作为字典的键
    col_tuple = tuple(col_data)
    if col_tuple in unique_cols:
        # 如果这个元组已经在字典中，说明是重复列
        duplicates.append(column)
    else:
        # 否则，添加到字典中
        unique_cols[col_tuple] = column

# 删除重复的列
df = df.drop(columns=duplicates)

# 显示结果
print(f"删除了 {len(duplicates)} 列重复数据。保留列数: {df.shape[1]}")

In [ ]:
df  = pems07.iloc[:10000,:]
import pandas as pd

# 假设df是你的DataFrame
# 创建一个空的字典来存储非重复的列
unique_cols = {}
duplicates = []

for column in df.columns:
    col_data = df[column]
    # 将列数据转换为元组形式，作为字典的键
    col_tuple = tuple(col_data)
    if col_tuple in unique_cols:
        # 如果这个元组已经在字典中，说明是重复列
        duplicates.append(column)
    else:
        # 否则，添加到字典中
        unique_cols[col_tuple] = column

# 删除重复的列
df = df.drop(columns=duplicates)

# 显示结果
print(f"删除了 {len(duplicates)} 列重复数据。保留列数: {df.shape[1]}")

In [ ]:
# 假设df是你的DataFrame
# 创建一个空的字典来存储非重复的列
unique_cols = {}
duplicates = []

for column in df.columns:
    col_data = df[column]
    # 将列数据转换为元组形式，作为字典的键
    col_tuple = tuple(col_data)
    if col_tuple in unique_cols:
        # 如果这个元组已经在字典中，说明是重复列
        duplicates.append(column)
    else:
        # 否则，添加到字典中
        unique_cols[col_tuple] = column

# 删除重复的列
df = df.drop(columns=duplicates)

# 显示结果
print(f"删除了 {len(duplicates)} 列重复数据。保留列数: {df.shape[1]}")

In [1]:
import pandas as pd
pems07 = pd.read_csv('pems07_all_filter10.csv')
pems07

,date,715898,715918,715920,715929,715930,715933,715938,715944,715947,...,765476,765477,765486,765501,765506,765508,765591,765608,765616,765618
0,2002-06-01 00:00:00,185.0,210.0,0.0,284.0,290.0,222.0,206.0,0.0,227.0,...,180.0,198.0,0.0,95.0,257.0,4.0,113.0,72.0,6.0,0.0
1,2002-06-01 00:05:00,175.0,171.0,0.0,286.0,260.0,219.0,194.0,0.0,234.0,...,231.0,164.0,0.0,91.0,237.0,2.0,156.0,69.0,10.0,0.0
2,2002-06-01 00:10:00,181.0,233.0,0.0,253.0,289.0,205.0,173.0,0.0,204.0,...,214.0,147.0,0.0,133.0,228.0,4.0,133.0,69.0,6.0,0.0
3,2002-06-01 00:15:00,171.0,195.0,0.0,279.0,294.0,202.0,167.0,0.0,196.0,...,204.0,205.0,0.0,88.0,207.0,3.0,122.0,73.0,8.0,0.0
4,2002-06-01 00:20:00,90.0,210.0,0.0,340.0,290.0,190.0,70.0,0.0,160.0,...,170.0,180.0,0.0,50.0,230.0,10.0,100.0,40.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2291275,2024-03-20 23:35:00,271.0,183.0,271.0,204.0,259.0,231.0,242.0,331.0,183.0,...,183.0,181.0,187.0,94.0,183.0,24.0,183.0,24.0,24.0,24.0
2291276,2024-03-20 23:40:00,264.0,181.0,264.0,204.0,213.0,188.0,195.0,259.0,181.0,...,181.0,213.0,172.0,105.0,182.0,23.0,182.0,23.0,23.0,23.0
2291277,2024-03-20 23:45:00,261.0,174.0,261.0,190.0,252.0,225.0,218.0,243.0,174.0,...,174.0,188.0,195.0,79.0,174.0,22.0,174.0,22.0,22.0,22.0
2291278,2024-03-20 23:50:00,248.0,165.0,247.0,194.0,224.0,198.0,181.0,220.0,165.0,...,165.0,188.0,157.0,105.0,165.0,21.0,165.0,21.0,21.0,21.0
2291279,2024-03-20 23:55:00,237.0,154.0,238.0,160.0,220.0,193.0,181.0,258.0,154.0,...,154.0,185.0,170.0,84.0,154.0,19.0,154.0,19.0,19.0,19.0

In [2]:


# Convert the 'date' column to datetime
pems07['date'] = pd.to_datetime(pems07['date'])

# Set the 'date' column as the index
pems07.set_index('date', inplace=True)

# Resample to hourly data and aggregate using sum
pems07_hourly = pems07.resample('H').sum()
pems07_hourly = pems07_hourly.astype('float32')

# Reset the index if you want the 'date' column back
pems07_hourly.reset_index(inplace=True)
pems07_hourly.to_csv('pems07_h.csv',index=False)

In [3]:

# Convert the 'date' column to datetime
pems07 = pd.read_csv('pems07_all_filter10.csv')
pems07['date'] = pd.to_datetime(pems07['date'])

# Set the 'date' column as the index
pems07.set_index('date', inplace=True)

# Resample to hourly data and aggregate using sum
pems07_daily = pems07.resample('D').sum()
pems07_daily = pems07_daily.astype('float32')

# Reset the index if you want the 'date' column back
pems07_daily.reset_index(inplace=True)
pems07_daily.to_csv('pems07_d.csv',index=False)