In [1]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd

In [2]:
data2001 = pd.read_csv('./pems11/d11_text_station_5min_2018_02_28.txt.gz',header=None, usecols=range(12))
# Assign column names based on the provided headers
column_names = [
    "Timestamp", "Station", "District", "Freeway #", 
    "Direction of Travel", "Lane Type", "Station Length", 
    "Samples", "% Observed", "Total Flow", "Avg Occupancy", "Avg Speed"
]

# Assign column names to the dataframe
data2001.columns = column_names
data2001

,Timestamp,Station,District,Freeway #,Direction of Travel,Lane Type,Station Length,Samples,% Observed,Total Flow,Avg Occupancy,Avg Speed
0,02/28/2018 00:00:00,1100313,11,5,N,FR,NaN,10,100,6.0,NaN,NaN
1,02/28/2018 00:00:00,1100323,11,5,N,FR,NaN,20,0,NaN,NaN,NaN
2,02/28/2018 00:00:00,1100326,11,5,N,FR,NaN,20,100,10.0,NaN,NaN
3,02/28/2018 00:00:00,1100330,11,5,N,FR,NaN,20,100,2.0,NaN,NaN
4,02/28/2018 00:00:00,1100333,11,5,N,FR,NaN,10,100,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433435,02/28/2018 23:55:00,1126770,11,52,W,ML,0.424,24,100,47.0,0.0132,67.1
433436,02/28/2018 23:55:00,1126790,11,805,S,ML,0.805,36,100,109.0,0.0268,64.1
433437,02/28/2018 23:55:00,1126791,11,805,S,FR,NaN,9,100,8.0,NaN,NaN
433438,02/28/2018 23:55:00,1126792,11,805,S,HV,2.935,9,100,0.0,0.0000,65.1
433439,02/28/2018 23:55:00,1126796,11,5,N,FR,NaN,0,0,NaN,NaN,NaN

In [3]:
comm = np.load('pems11_comm.npy')
comm

array([1100313, 1100326, 1100330, 1100340, 1100348, 1100353, 1100363,
       1100369, 1100372, 1100377, 1100381, 1100384, 1100387, 1100390,
       1100393, 1100396, 1100407, 1100416, 1100434, 1100451, 1100454,
       1100461, 1100475, 1100478, 1100486, 1100491, 1100504, 1100524,
       1100530, 1100533, 1100534, 1100538, 1100542, 1100549, 1100553,
       1100560, 1100568, 1100571, 1100575, 1100578, 1100592, 1100595,
       1100598, 1100601, 1100604, 1100607, 1100697, 1100703, 1100706,
       1100711, 1100714, 1100729, 1100732, 1100737, 1100741, 1100745,
       1100750, 1100757, 1100776, 1100781, 1100787, 1100796, 1100802,
       1100805, 1100810, 1100813, 1100850, 1100860, 1100863, 1100865,
       1100868, 1107608, 1107611, 1108285, 1108286, 1108287, 1108288,
       1108289, 1108290, 1108291, 1108292, 1108293, 1108294, 1108295,
       1108296, 1108297, 1108299, 1108300, 1108301, 1108302, 1108303,
       1108304, 1108305, 1108306, 1108307, 1108308, 1108309, 1108310,
       1108311, 1108312, 1108313, 1108314, 1108315, 1108316, 1108317,
       1108318, 1108321, 1108323, 1108324, 1108325, 1108326, 1108327,
       1108328, 1108329, 1108330, 1108331, 1108332, 1108333, 1108334,
       1108341, 1108342, 1108343, 1108344, 1108345, 1108346, 1108347,
       1108348, 1108350, 1108351, 1108352, 1108353, 1108354, 1108355,
       1108356, 1108357, 1108358, 1108359, 1108366, 1108367, 1108369,
       1108371, 1108372, 1108373, 1108374, 1108375, 1108376, 1108377,
       1108378, 1108379, 1108380, 1108381, 1108385, 1108386, 1108387,
       1108388, 1108389, 1108390, 1108391, 1108392, 1108393, 1108394,
       1108398, 1108399, 1108400, 1108401, 1108402, 1108410, 1108411,
       1108413, 1108414, 1108415, 1108416, 1108417, 1108418, 1108419,
       1108420, 1108421, 1108422, 1108423, 1108424, 1108425, 1108426,
       1108429, 1108430, 1108432, 1108433, 1108434, 1108435, 1108436,
       1108437, 1108438, 1108439, 1108440, 1108441, 1108442, 1108444,
       1108445, 1108447, 1108448, 1108449, 1108450, 1108451, 1108452,
       1108453, 1108455, 1108459, 1108460, 1108461, 1108462, 1108463,
       1108464, 1108465, 1108466, 1108467, 1108468, 1108469, 1108471,
       1108472, 1108473, 1108474, 1108475, 1108476, 1108477, 1108478,
       1108479, 1108480, 1108483, 1108484, 1108485, 1108486, 1108487,
       1108488, 1108489, 1108490, 1108491, 1108492, 1108493, 1108494,
       1108495, 1108496, 1108497, 1108498, 1108499, 1108500, 1108501,
       1108502, 1108503, 1108504, 1108505, 1108506, 1108507, 1108508,
       1108509, 1108510, 1108511, 1108512, 1108513, 1108516, 1108517,
       1108518, 1108519, 1108520, 1108521, 1108522, 1108523, 1108524,
       1108525, 1108528, 1108529, 1108530, 1108531, 1108532, 1108534,
       1108535, 1108536, 1108537, 1108538, 1108539, 1108540, 1108541,
       1108542, 1108543, 1108544, 1108545, 1108546, 1108547, 1108548,
       1108549, 1108550, 1108553, 1108554, 1108555, 1108556, 1108557,
       1108558, 1108559, 1108560, 1108561, 1108562, 1108563, 1108564,
       1108565, 1108567, 1108568, 1108569, 1108570, 1108571, 1108572,
       1108573, 1108574, 1108577, 1108578, 1108579, 1108580, 1108581,
       1108585, 1108586, 1108587, 1108589, 1108590, 1108591, 1108592,
       1108593, 1108594, 1108595, 1108596, 1108597, 1108598, 1108599,
       1108600, 1108601, 1108602, 1108603, 1108604, 1108605, 1108606,
       1108607, 1108608, 1108609, 1108610, 1108611, 1108612, 1108613,
       1108614, 1108615, 1108616, 1108617, 1108618, 1108619, 1108620,
       1108621, 1108622, 1108623, 1108624, 1108625, 1108626, 1108627,
       1108628, 1108629, 1108630, 1108631, 1108632, 1108633, 1108634,
       1108635, 1108636, 1108637, 1108638, 1108639, 1108640, 1108642,
       1108643, 1108644, 1108645, 1108646, 1108649, 1108650, 1108651,
       1108652, 1108653, 1108654, 1108655, 1108656, 1108657, 1108658,
       1108659, 1108660, 1108661, 1108662, 1108663, 1108664, 1108665,
       1108666, 1108667, 1108668, 1108669, 1108670, 1108671, 1108672,
       1108673, 1108674, 1108675, 1108676, 1108677, 1108680, 1108681,
       1108682, 1108683, 1108684, 1108685, 1108686, 1108687, 1108688,
       1108689, 1108690, 1108691, 1108692, 1108693, 1108694, 1108697,
       1108698, 1108700, 1108701, 1108702, 1108703, 1108704, 1108705,
       1108706, 1108707, 1108708, 1108709, 1108710, 1108711, 1108712,
       1108713, 1108714, 1108715, 1108716, 1108717, 1108718, 1108719,
       1108720, 1108721, 1108722, 1108723, 1108724, 1108725, 1108726,
       1108727, 1108728, 1108729, 1108731, 1108732, 1108733, 1108734,
       1108735, 1108736, 1108737, 1108738, 1108747, 1108748, 1108749,
       1108750, 1108751, 1108752, 1108753, 1108754, 1108755, 1108756,
       1108757, 1108758, 1108759, 1108760, 1108761, 1108762, 1108763,
       1108764, 1108765, 1108766, 1108767, 1108768, 1108771, 1108772,
       1108773, 1108774, 1111509, 1111514, 1111525, 1111527, 1111530,
       1111531, 1111532, 1111534, 1111535, 1111539, 1111540, 1111541,
       1111542, 1111543, 1111544, 1111545, 1111546, 1111547, 1111548,
       1111549, 1111550, 1111552, 1111553, 1111554, 1111555, 1111556,
       1111557, 1111558, 1111559, 1111564, 1111565, 1111566, 1111567,
       1111568, 1111570, 1111572], dtype=int64)

In [4]:
import pandas as pd
import calendar
from datetime import date, timedelta

def read_and_process_data(file_path):
    try:
        # Read the CSV file, specifying the usecols parameter to only load the columns of interest
        data = pd.read_csv(
            file_path, 
            header=None, 
            usecols=[0, 1, 9],  # Column indexes for Timestamp, Station, and Total Flow
            names=['Timestamp', 'Station', 'Avg Flow'],  # Assigning column names
            compression='gzip'
        )

        # Convert the Timestamp column to datetime format and set it as the index
        data['Timestamp'] = pd.to_datetime(data['Timestamp'])
        data.set_index('Timestamp', inplace=True)

        # Pivot the table to get Stations as columns and Total Flow as cell values
        pivot_data = data.pivot(columns='Station', values='Avg Flow')

        return pivot_data

    except EOFError:
        print(f"Error processing file: {file_path}")
        return None

# Read the data for February 28 to get the column names (Station IDs)
# feb_28_data = read_and_process_data('./pems03/d03_text_station_5min_2018_02_28.txt.gz')
# feb_28_columns = feb_28_data.columns

# Initialize a list to hold the data for all days
all_data = []

start_date = date(2002, 9, 1)  # 开始日期
# end_date = date(2012, 10, 2)   # 结束日期
end_date = date(2024, 3, 20)   # 结束日期
current_date = start_date
all_data = []                  # 存储所有数据的列表

while current_date <= end_date:
    year = current_date.year
    month = current_date.month
    day = current_date.day
    file_path = f'./pems11/d11_text_station_5min_{year}_{month:02d}_{day:02d}.txt.gz'
#     if year==2012 and month==10 and day==1:
#         continue
    # 检查文件是否存在
    if not os.path.exists(file_path):
        print(f"File not found: {file_path}, skipping...")
        current_date += timedelta(days=1)
        continue
    
    day_data = read_and_process_data(file_path)
    
    # 使用字典存储新列，以便一次性添加到数据帧
    new_columns = {}
    for col in comm:
        if col not in day_data:
            new_columns[col] = 0  # 假设使用0填充缺失的列

    # 使用 pd.concat 添加所有新列
    if new_columns:
        new_data = pd.DataFrame(new_columns, index=day_data.index)
        day_data = pd.concat([day_data, new_data], axis=1)

    # 将列重新排序以匹配2月28日的顺序
    day_data = day_data[comm]
    
    all_data.append(day_data)
    
    current_date += timedelta(days=1)

# Concatenate all daily data into a single DataFrame
combined_data = pd.concat(all_data)

# Fill any remaining missing values with 0
combined_data.fillna(0, inplace=True)

# The combined_data DataFrame now holds the merged data for January 1 to February 28
# with columns aligned to February 28 and missing values filled with 0
# Note: The code execution is commented out to prevent execution in this environment.
# combined_data.head()
combined_data.to_csv('pems11_all_common_flow.csv')

In [ ]:
combined_data

In [1]:
import pandas as pd
pems11 = pd.read_csv('pems11_all_common_flow.csv')

# Convert the 'date' column to datetime
pems11['date'] = pd.to_datetime(pems11['date'])

# Set the 'date' column as the index
pems11.set_index('date', inplace=True)

# Resample to hourly data and aggregate using sum
pems11_hourly = pems11.resample('H').sum()

# Reset the index if you want the 'date' column back
pems11_hourly.reset_index(inplace=True)
pems11_hourly.to_csv('pems11_h.csv',index=False)


# Convert the 'date' column to datetime
pems11 = pd.read_csv('pems11_all_common_flow.csv')
pems11['date'] = pd.to_datetime(pems11['date'])

# Set the 'date' column as the index
pems11.set_index('date', inplace=True)

# Resample to hourly data and aggregate using sum
pems11_daily = pems11.resample('D').sum()

# Reset the index if you want the 'date' column back
pems11_daily.reset_index(inplace=True)
pems11_daily.to_csv('pems11_d.csv',index=False)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_47676\3132681090.py:11: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pems11_hourly = pems11.resample('H').sum()